/* ==========================================================================
   Menus
   ========================================================================== */

.mam-menu {
	@include raleway();
	.navbar-collapse {
		padding: {
			left: 0;
			right: 0;
		}
	}
}
