/* ==========================================================================
   Menus
   ========================================================================== */

.mam-menu {
	@include raleway();
	.navbar-collapse {
		padding: {
			left: 0;
			right: 0;
		}
	}
	.navbar-nav > li > a {
		padding: 5px 0 !important;
		margin: 5px 30px 10px 0 !important;
		border-bottom: 1px solid transparent;
	}
	.navbar-nav {
    margin: 7px 15px;
	}
	.dropdown-menu a:hover {
		text-decoration: underline;
	}
}
#pre-menu {
	.navbar-nav > li > a:hover, .current-menu-item > a {
		border-bottom: 1px solid $text-color !important;
	}
	.dropdown-menu {
		.current-menu-item > a {
			border-bottom: none !important;
		}
	}
}
#epi-menu {
	.navbar-nav > li > a:hover {
		border-bottom: 1px solid $text-color !important;
	}
}
