/* ==========================================================================
   Mixins
   ========================================================================== */

/*
 * @font-face mixin
 * Bulletproof font-face via Font Squirrel
 * @include fontface('family', 'assets/fonts/', 'myfontname');
 */

@mixin fontface($font-family, $font-url, $font-name,$font-style,$font-weight) {
	@font-face {
		font: {
			family: $font-family;
			style: $font-style;
			weight: $font-weight;
		}
		src: url($font-url + '/' + $font-name + '.eot');
		src: url($font-url + '/' + $font-name + '.eot#iefix') format('embedded-opentype'),
			 url($font-url + '/' + $font-name + '.woff') format('woff'),
			 url($font-url + '/' + $font-name + '.ttf')  format('truetype'),
			 url($font-url + '/' + $font-name + '.svg#' + $font-name) format('svg');
	}
}

/* Box shadow */
@mixin box-shadow($shadows) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}
/* Border radius */
@mixin border-radius($topleft,$topright,$bottomright,$bottomleft) {
  -moz-border-radius: $topleft $topright $bottomright $bottomleft;
  -webkit-border-radius: $topleft $topright $bottomright $bottomleft;
  border-radius: $topleft $topright $bottomright $bottomleft;
}

/* Raleway fontface mixin */
@mixin raleway($fsize:$font-size-base,$tdecoration:none,$mtop:0,$mbottom:0) {
	font: 300 $fsize 'Raleway', sans-serif;
	text-transform: uppercase;
	text-decoration: $tdecoration !important;
	margin:{
		top: $mtop;
		bottom: $mbottom;
	}
}
