/* ==========================================================================
   Posts and pages
   ========================================================================== */

.entry-title {
	@include raleway($font-size-huge);
}
.entry-figure {
	margin-bottom: $space;
}

.item-title {
	@include raleway($font-size-big);
}
.item-figure, .item-header, .item-content {
	margin-bottom: 11px;
}

.single-header {
	margin-bottom: 11px;
	a:hover { text-decoration: underline; }
}
.single-title {
	@include raleway($font-size-huge);
}
.single-meta {
	font-size: $font-size-small;
	dd { margin-bottom: 11px; }
	a:hover { text-decoration: underline; }
}

.blog article {
	margin-bottom: $bigspace;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}
