/* ==========================================================================
   Home Page Template
   ========================================================================== */

.slogan-desc {
	font-size: $font-size-big;
	margin-top: $space;
}
#last {
	margin-top: $bigspace;
	.sec-tit {
		font-size: $font-size-big;
	}
}
