/* ==========================================================================
   Variables
   ========================================================================== */

// Font Face
// @include fontface('FONT_NAME', 'assets/fonts/', 'FONT_FAMILY');

// Colors
$brand-primary: #000;
$brand-primary-transparent: rgba(0,0,0,0.6);
$body-bg: #fff;
$text-color: $brand-primary;
$link-color: $brand-primary;
$link-hover-color: #000;

$active-color: $link-hover-color;

// Sizes
$font-size-base: 16px;
$line-height-base: 1.428571429;

// Spaces
$spacetop = 25px;
$spacebottom = 25px;
$bigspacetop = 50px;
$bigspacebottom = 50px;
